/* Known bug on firefox where CSS calc functions 
cannot be call on dasharray properties
https://bugzilla.mozilla.org/show_bug.cgi?id=1258270 */
svg circle {
  fill: none;
  stroke: var(--base-color);
  stroke-width: 3;
  /* Set the value of dasharray to be the length of the circumference */
  /* 2 * π * Radius  = C */
  /* 2 * 3.14 * 45  = 282.6 */
  stroke-dasharray: 282.6;
  /* Remove a percentage value from circumference */
  /* C * 0.25 =  circle - 25% */
  /* 282.6 * 0.25 =  70.65 */
  stroke-dashoffset: 70.65;
  transform-origin: center;
  animation: spin 1s linear infinite;
}

svg.success circle {
  animation: success 1s linear forwards, spin 1s linear infinite;
}

svg .checkmark polyline {
  stroke-width: 3;
  stroke: black;
  fill: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes success {
  to {
    stroke-dashoffset: 0;
    stroke: var(--success-color);
  }
}
